@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 4%;
    --foreground: 210 40% 98%;
    --accent: 160 84% 39%;
    --muted: 217 33% 17%;
  }

  * {
    @apply border-slate-800;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}
